{% extends 'base.html.twig' %}

{% block title %}Höricke meine Werkstatt - Geschichte{% endblock %}

{% block body %}
    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="content col-lg-12">
                    <div class="row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Eine Erfolgs-Story</span>
                                <h4>Unsere Geschichte</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="timeline"></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="content col-lg-12">
                    <div class="row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">1993 - 2009</span>
                                <h4>Die Anfänge</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/anfaenge/image1.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/anfaenge/image1.jpg') }}" class="img-fluid img-thumbnail" title="1993 - 2009" alt="Anfänge"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/anfaenge/image2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/anfaenge/image2.jpg') }}" class="img-fluid img-thumbnail" title="1993 - 2009" alt="Anfänge"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/anfaenge/image3.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/anfaenge/image3.jpg') }}" class="img-fluid img-thumbnail" title="1993 - 2009" alt="Anfänge"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/anfaenge/image4.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/anfaenge/image4.jpg') }}" class="img-fluid img-thumbnail" title="1993 - 2009" alt="Anfänge"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/anfaenge/image5.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/anfaenge/image5.jpg') }}" class="img-fluid img-thumbnail" title="1993 - 2009" alt="Anfänge"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/anfaenge/image6.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/anfaenge/image6.jpg') }}" class="img-fluid img-thumbnail" title="1993 - 2009" alt="Anfänge"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/anfaenge/image7.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/anfaenge/image7.jpg') }}" class="img-fluid img-thumbnail" title="1993 - 2009" alt="Anfänge"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/anfaenge/image8.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/anfaenge/image8.jpg') }}" class="img-fluid img-thumbnail" title="1993 - 2009" alt="Anfänge"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="content col-lg-12">
                    <div class="row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Alles neu</span>
                                <h4>Werkstattumbau</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image1.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image1.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image2.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image3.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image3.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image4.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image4.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image6.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image6.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image7.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image7.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image8.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image8.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image9.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image9.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image10.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image10.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image11.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image11.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image12.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image2.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image13.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image13.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/umbau/image17.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/umbau/image17.jpg') }}" class="img-fluid img-thumbnail" title="Werkstattumbau" alt="Werkstattumbau"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="content col-lg-12">
                    <div class="row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">seit 2011</span>
                                <h4>Service/Annahme und Werkstatt</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image1.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image1.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image11.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image11.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image2.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image3.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image3.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image5.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image5.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image7.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image7.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image9.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image9.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image10.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image10.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image15.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image15.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image16.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image16.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image17.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image17.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image18.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image18.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image19.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image19.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/buero_werkstatt/image4.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/buero_werkstatt/image4.jpg') }}" class="img-fluid img-thumbnail" title="seit 2011" alt="Service/Annahme und Werkstatt"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="content col-lg-12">
                    <div class="row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">20. August 2011</span>
                                <h4>Eröffnungsfeier</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/eroeffnung/image2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/eroeffnung/image2.jpg') }}" class="img-fluid img-thumbnail" title="20. August 2011" alt="Eröffnungsfeier"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/eroeffnung/image3.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/eroeffnung/image3.jpg') }}" class="img-fluid img-thumbnail" title="20. August 2011" alt="Eröffnungsfeier"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/eroeffnung/image4.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/eroeffnung/image4.jpg') }}" class="img-fluid img-thumbnail" title="20. August 2011" alt="Eröffnungsfeier"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/eroeffnung/image5.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/eroeffnung/image5.jpg') }}" class="img-fluid img-thumbnail" title="20. August 2011" alt="Eröffnungsfeier"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/eroeffnung/image6.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/eroeffnung/image6.jpg') }}" class="img-fluid img-thumbnail" title="20. August 2011" alt="Eröffnungsfeier"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/eroeffnung/image1.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/eroeffnung/image1.jpg') }}" class="img-fluid img-thumbnail" title="20. August 2011" alt="Eröffnungsfeier"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="content col-lg-12">
                    <div class="row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Einfach schön</span>
                                <h4>Unsere Meisterstücke</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="cat-title">#1</span>
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image1.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image1.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image11.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image11.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image12.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image12.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image13.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image13.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image14.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image14.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="cat-title">#2</span>
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image2.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image3.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image3.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image4.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image4.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image5.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image5.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image6.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image6.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="cat-title">#3</span>
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image7.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image7.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image8.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image8.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image9.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image9.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image10.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image10.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="cat-title">#4</span>
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image16.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image16.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image17.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image17.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image18.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image18.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image19.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image19.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="cat-title">#5</span>
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image23.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image23.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image24.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image24.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image25.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image25.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image26.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image26.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image27.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image27.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image28.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image28.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image29.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image29.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image30.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image30.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image31.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image31.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="cat-title">#6</span>
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image7_2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image7_2.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image8_2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image8_2.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image09_2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image09_2.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image11_2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image11_2.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image12_2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image12_2.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image13_2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image13_2.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image15_2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image15_2.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/meisterstuecke/image16_2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/meisterstuecke/image16_2.jpg') }}" class="img-fluid img-thumbnail" title="Einfach schön" alt="Meisterstücke"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="content col-lg-12">
                    <div class="row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Ordnung muss sein</span>
                                <h4>Unser neues Reifenlager</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/reifen/image1.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/reifen/image1.jpg') }}" class="img-fluid img-thumbnail" title="Reifenlager" alt="Reifenlager"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/reifen/image2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/reifen/image2.jpg') }}" class="img-fluid img-thumbnail" title="Reifenlager" alt="Reifenlager"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/reifen/image3.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/reifen/image3.jpg') }}" class="img-fluid img-thumbnail" title="Reifenlager" alt="Reifenlager"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/reifen/image4.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/reifen/image4.jpg') }}" class="img-fluid img-thumbnail" title="Reifenlager" alt="Reifenlager"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/reifen/image5.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/reifen/image5.jpg') }}" class="img-fluid img-thumbnail" title="Reifenlager" alt="Reifenlager"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="content col-lg-12">
                    <div class="row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Schön gerade</span>
                                <h4>Karosserie-Richtbank</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="gallery">
                        <div class="row">
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/richtbank/image1.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/richtbank/image1.jpg') }}" class="img-fluid img-thumbnail" title="Richtbank" alt="Richtbank"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/richtbank/image2.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/richtbank/image2.jpg') }}" class="img-fluid img-thumbnail" title="Richtbank" alt="Richtbank"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/richtbank/image3.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/richtbank/image3.jpg') }}" class="img-fluid img-thumbnail" title="Richtbank" alt="Richtbank"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/richtbank/image4.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/richtbank/image4.jpg') }}" class="img-fluid img-thumbnail" title="Richtbank" alt="Richtbank"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/richtbank/image5.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/richtbank/image5.jpg') }}" class="img-fluid img-thumbnail" title="Richtbank" alt="Richtbank"/>
                                </a>
                            </div>
                            <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                <a href="{{ asset('assets/img/galerie/richtbank/image6.jpg') }}">
                                    <img src="{{ asset('assets/img/galerie/richtbank/image6.jpg') }}" class="img-fluid img-thumbnail" title="Richtbank" alt="Richtbank"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){

            var events = [
                {
                    date: 'Juni 1993',
                    content: 'Gründung der KFZ Service Fa. Höricke in einer Doppelgarage mit einer Hebebühne'
                },
                {
                    date: 'Januar 1995',
                    content: 'Umzug und Eröffnung einer KFZ Werkstatt auf dem Gelände der Biomalz GmbH in einer Halle mit ca. 90 m<sup>2</sup>. Anschaffung einer zweiten Hebebühne.'
                },
                {
                    date: 'Q4 - 1995',
                    content: 'Neubau eines Büros, Aufenthaltsraum und Lager neben der Werkstatt '
                },
                {
                    date: 'Q1 - 1996',
                    content: 'Einstellung des ersten Angestellten, Kauf einer dritten Hebebühne, Reifenmontier- und Wuchtgerät sowie weiterer Maschinen '
                },
                {
                    date: 'Q4 - 1996',
                    content: 'Einstellung des zweiten Angestellten'
                },
                {
                    date: 'März 1997',
                    content: 'Einstellung eines Auszubildenden'
                },
                {
                    date: 'August 1998',
                    content: 'Erweiterung der Firma - Vertrieb von gebrauchten PKW'
                },
                {
                    date: 'Februar 1998',
                    content: 'Anschaffung eines Abschleppfahrzeugs'
                },
                {
                    date: 'September 1998',
                    content: 'Einstellung weiterer Auszubildenden'
                },
                {
                    date: 'September 1999',
                    content: 'Anschaffung weiterer moderner Technik - Einstellung einer Bürokraft'
                },
                {
                    date: 'März 2000',
                    content: 'Anschaffung des neuen Kundenersatzfahrzeugs - Smart Werbung im Regionalsender Teltow-Kanal'
                },
                {
                    date: 'Mai 2001',
                    content: 'Anschaffung Klima-Servicegerät'
                },
                {
                    date: 'Q4 - 2001',
                    content: 'Werbung im BB-Radio, Umzug in größeres modernes Gebäude, mit großen Shop und Waschanlage.'
                },
                {
                    date: '2003 / 2004',
                    content: 'Erweiterung der Mietwagen-Flotte mit Nissan Micra, Mercedes A-Klasse und Mercedes Vaneo '
                },
                {
                    date: '2004',
                    content: 'Öffnungszeiten von 7:00 bis 20:00 Uhr mit 2-Schicht-System '
                },
                {
                    date: '2005',
                    content: 'Anschaffung von neuer moderner Technik, u. a. Achsvermessung, Motordiagnose'
                },
                {
                    date: '2006',
                    content: 'Erweiterung des Teams auf 11 Mitarbeiter'
                },
                {
                    date: '2006 / 2007',
                    content: 'neuer Mietwagen-Fuhrpark'
                },
                {
                    date: 'Juli 2007',
                    content: 'Ausweitung der Werkstatt mit eigenem Karosseriebereich und drei Mitarbeitern, Smart Repair, Ausbeultechnik, Richtbank'
                },
                {
                    date: '2008',
                    content: 'Erweiterung des Teams auf 14 Mitarbeiter, sämtliche Karosseriearbeiten an ADAC Clubmobilen für 2 Stationen'
                },
                {
                    date: '2009',
                    content: 'Erweiterung Mietwagenflotte, Einbau Autogasanlagen, Schulung der Mitarbeiter '
                },
                {
                    date: 'Q4 - 2010',
                    content: 'Neue Ersatzwagenflotte'
                },
                {
                    date: 'Q2 - 2011',
                    content: 'Umzug in den neuen Werkstatt-Komplex, Oderstraße 20 in Teltow'
                },
                {
                    date: '2012',
                    content: 'neues Achsvermessgerät Hawk Eye'
                },
                {
                    date: '2014',
                    content: 'neue Prüfstraße für Bremsen, Fahrwerk, Spur Sherpa Autodiagnostik'
                },
                {
                    date: '2014 / 2015',
                    content: 'Erneuerung der Ersatzwagenflotte'
                },
                {
                    date: '2015',
                    content: 'Anschaffung einer neuen Richtbank CAR-O-LINER und Anschaffung der Mercedes- und VW-Software'
                },
                {
                    date: '2015',
                    content: 'Anschaffung eines Gerätes zur Programmierung von Sensoren für den Lufdruck (RDKS)'
                },
                {
                    date: '2015 / 2016',
                    content: 'Erweiterung des Teams auf 25 Mitarbeiter'
                },
                {
                    date: '2017 / 2018',
                    content: 'Erweiterung der Ersatzwagenflotte'
                },
                {
                    date: '2017 / 2018',
                    content: 'Anschaffung eines Matrix LED Scheinwerfer Einsteigergerätes'
                },
                {
                    date: '2018',
                    content: 'Anschaffung eines neuen Klimaanlagengerätes für R1234yf'
                },
                {
                    date: '2018',
                    content: 'Erweiterung unserer Diagnosetechnik'
                },
            ];

            $('#timeline').roadmap(events, {
                eventsPerSlide: 6,
                slide: 1,
                prevArrow: '<i class="fa fa-chevron-left"></i>',
                nextArrow: '<i class="fa fa-chevron-right"></i>'
            });
        });

    </script>
{% endblock %}
