{% extends 'base.html.twig' %}

{% block title %}H√∂ricke meine Werkstatt{% endblock %}

{% block body %}

    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="content col-lg-12">
					<!--- FR‹HLINGSBANNER -->
					<!--
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <img src="{{ asset('assets/img/BannerFruehjahr.jpg') }}" alt="H√∂ricke Werkstatt"
                                 class="img-fluid">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                    </div>
					-->
					<!--- FR‹HLINGSBANNER /-->
					
					<!--- Corona -->
					<div class="blog-box row list-style clearfix">

			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						
						<!--BANNER ZEITWERTGERECHTE REPERATUR-->
    
						<!--<img src="{{ asset('assets/img/banner_zeitwertgerechte_reparatur.png') }}" width="100%" height="100%" alt="Bild nicht gefunden.">-->
     
    			</div>

			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>

			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>

                        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>-->
                        
						<!--<h3 align="center">Aktueller Hinweis:</h3>-->
				
						<!--INFO TELEFONANLAGE DOWN 10.02.2021-->
				
			<!--div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

						<h1 align="center" style="color:red;">Am 10.02.2021 wird unsere Telefonanlage umgestellt. Es besteht die M√∂glichkeit, dass wir an diesem Tag telefonisch schwer zu erreichen sind.</h1>
						<h1 align="center" style="color:red;">Falls ihr uns telefonisch nicht erreichen solltet, nutzt bitte die Kontaktaufnahme per E-Mail oder WhatsApp.</h1>
						
			</div-->

			<!--Fruelingsplakat-->
<!--
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>

<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
			

			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

						

						<center><img src="{{ asset('assets/img/Fruehlingsplakat.png') }}" width="75%" height="75%" alt="Bild nicht gefunden."></center>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>

<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                        
</div>
-->

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>

<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
			

			<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

						<!--BANNER MITARBEITER GESUCHT-->

						<img src="{{ asset('assets/img/Hoericke_SD_Mitarbeiter_072020.png') }}" width="100%" height="100%" alt="Bild nicht gefunden.">
                        <!--<p><span style="color:black">
						<b>Liebe Kundinnen und Kunden,</b><br/>
						wir m√∂chten uns auch einmal zu der derzeitigen Corona-Virus-Situation melden. <br/>
						<br/>
						Unser Gesch√§ft bleibt wie gewohnt f√ºr Sie ge√∂ffnet und solange man uns l√§sst, sind wir f√ºr euch und eure fahrenden Begleiter da. Wir versuchen nat√ºrlich alles wie gewohnt beizubehalten, so dass f√ºr euch keine Auswirkungen sp√ºrbar sind, aber es kann zu Lieferengp√§ssen von Ersatzteilen kommen, es kann also sein, dass euer Fahrzeug etwas l√§nger bei uns bleiben muss oder wir Reparaturen auf einen anderen Termin schieben m√ºssen. <br/>
						<br/>
						Wir w√ºnschen Ihnen eine gute Zeit und bleibt gesund.<br/> 
						Euer Team von H√∂ricke meine Werkstatt-->
						</span>
                        </div>
                        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>-->
<!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>-->

 <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>

<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>


			<!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>-->
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<!--<h3 align="center">Aktueller Hinweis:</h3>-->

						<!--BANNER MWST GEƒNDERT-->

						<!--<img src="{{ asset('assets/img/Hoericke_SD_MwSt_Tuer_062020.png') }}" width="100%" height="100%" alt="Bild nicht gefunden.">
                        <!--<p><span style="color:black">
						<b>Liebe Kundinnen und Kunden,</b><br/>
						wir m√∂chten uns auch einmal zu der derzeitigen Corona-Virus-Situation melden. <br/>
						<br/>
						Unser Gesch√§ft bleibt wie gewohnt f√ºr Sie ge√∂ffnet und solange man uns l√§sst, sind wir f√ºr euch und eure fahrenden Begleiter da. Wir versuchen nat√ºrlich alles wie gewohnt beizubehalten, so dass f√ºr euch keine Auswirkungen sp√ºrbar sind, aber es kann zu Lieferengp√§ssen von Ersatzteilen kommen, es kann also sein, dass euer Fahrzeug etwas l√§nger bei uns bleiben muss oder wir Reparaturen auf einen anderen Termin schieben m√ºssen. <br/>
						<br/>
						Wir w√ºnschen Ihnen eine gute Zeit und bleibt gesund.<br/> 
						Euer Team von H√∂ricke meine Werkstatt-->
						</span>
                        </div>
                        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>-->

                    </div>
					<!--- Corona /-->
					
					<!--- HU-Banner -->
					<!--
					<div class="blog-box row list-style clearfix">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<h3 align="center">Ab sofort ‚Äì unser Angebot (g√ºltig vom 25.02.2020 ‚Äì 31.03.2020)</h3>
                            <img src="{{ asset('assets/img/Hoericke_HU_Banner.jpg') }}" alt="H√∂ricke Werkstatt"
                                 class="img-fluid">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                    </div>
					-->
					<!--- HU-Banner /-->
					
					<!--- Maerz-Coupon -->
					<!--
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <img src="{{ asset('assets/img/2020-03-Coupon.jpg') }}" alt="H√∂ricke Werkstatt"
                                 class="img-fluid">
							<p>
							<b>Ob es uns reicht die HU/AU f√ºr 89‚Ç¨ anzubieten? Nein, das reicht uns nicht!</b><br/>
							<b>Bis zum 31.03.2020 k√∂nnt Ihr bei uns den Coupon √ºber 15‚Ç¨ einl√∂sen, nat√ºrlich nur einmal.</b><br/>
							<br/>
							<b>WIE?</b> Einfach Ausdrucken oder Foto mit dem Handy machen und uns beim n√§chsten Werkstattbesuch einfach vorzeigen<br/>
							<b>WAS?</b> Auf alle Dienstleistungen, au√üer HU/AU<br/>
							<b>WANN?</b> Vom 25.02.-31.03.2020<br/>
							<b>WO?</b> Nat√ºrlich bei uns, H√∂ricke meine Werkstatt GmbH<br/>
							<b>WARUM?</b> Weil wir mal Danke sagen wollen<br/>
							Sprecht uns gerne vor Ort, am Telefon oder per Mail an. Wir freuen uns auf euch.<br/>
							</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                    </div>
					-->
					<!--- Maerz-Coupon /-->
					
					<div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/werkstatt.jpg') }}" alt="H√∂ricke Werkstatt"
                                     class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Schnell, Fair und Serviceorientiert</span>
                                <h4>H√∂ricke meine Werkstatt GmbH</h4>
                                <p>
                                    Sehr geehrte Damen und Herren,
                                    <br/>
                                    Wir sind ein Kfz-Meister-/Fachbetrieb, der 1993 gegr√ºndet wurde. Seitdem hat sich
                                    unser Unternehmen auf 32 Mitarbeiter im 2-Schichtbetrieb erweitert. Modernste
                                    Technik und eine neue Mietwagen-Flotte stehen f√ºr Ihre
                                    Zufriedenheit zur Verf√ºgung.
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/team_alt.jpg') }}" alt="H√∂ricke Team"
                                     class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Wir arbeiten Hand in Hand f√ºr Sie</span>
                                <h4>Unser Team</h4>
                                <p>Wir stehen rund um die Uhr f√ºr Ihre Zufriedenheit ein! Ein Team, in dem Arbeit Spa√ü
                                    macht ‚Äì Azubi neben Geselle und Meister.</p>
                                12.000 Kunden ‚Äì die uns bereits vertrauen! Daneben mehrere Botschaften, die
                                Brandenburger Polizei, die Arbeiterwohlfahrt, viele Handwerksbetriebe aus der Umgebung
                                und einige Prominente.
                            </div>
                        </div>
                    </div>

                    <!--- RADWECHSELTERMIN ONLINE -->
 
                    <div class="blog-box row list-style clearfix not-temp-hidden">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                               <img src="{{ asset('assets/img/radwechsel.jpg') }}" alt="H√∂ricke Radwechsel"
                                    class="img-fluid img-thumbnail">
                           </div>
                       </div>
                      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Kennt ihr schon unser neues digitales Autohaus?</span>
                                <h4>Radwechseltermin online</h4>
                                <p>
                                    Bucht hier direkt euren Radwechseltermin online. <span style="font-style: italic;">Schnell &amp; unkompliziert</span>
                                </p>
                                <div class="blog-bottom">
                                    <a href="{{ path('reifen') }}" class="btn btn-primary">Jetzt buchen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--- RADWECHSELTERMIN ONLINE /-->

                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/whatsapp.jpg') }}" alt="H√∂ricke WhatsApp"
                                     class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Immer f√ºr Sie erreichbar</span>
                                <h4>WhatsApp Buddies?</h4>
                                <p>
                                    Wir sind dabei ‚Äì ab sofort sind wir f√ºr Euch auch per WhatsApp erreichbar. Es gibt
                                    keine spezielle Rufnummer, also k√∂nnt ihr uns einfach auf unsere Festnetznummer
                                    schreiben oder anrufen (diese muss nat√ºrlich in
                                    eurem Smartphone gespeichert sein).
                                </p>
                                <p>
                                    WhatsApp wurde vor allem eingerichtet, um euch Fotos von Sch√§den oder M√§ngeln an
                                    eurem Liebling direkt zu zeigen. So kommen keine Fragen auf und ihr seht was
                                    repariert werden m√ºsste. Also wir freuen uns auf das
                                    digitale Zeitalter und hoffen, dass ihr genauso viel Spa√ü daran habt wie wir.
                                </p>
                                <div class="blog-bottom">
                                    <a href="https://wa.me/004933284799090" target="_blank" class="btn btn-primary"><i
                                                class="fa fa-whatsapp"></i> Chat Starten</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/inspektion.jpg') }}" alt="H√∂ricke Inspektion"
                                     class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Inspektion nach Herstellervorgaben</span>
                                <h4>Inspektion f√ºr nur 99,‚Äì Euro!</h4>
                                <p>
                                    Bei uns kostet die Inspektion (nach Herstellervorgaben) Ihres Wagens nur
                                    <br/>
                                    <strong>99,‚Äì Euro</strong>
                                </p>
                                <p>
                                    Darin enthalten sind die europaweite Mobilit√§tsgarantie und der kostenlose
                                    Werkstattersatzwagen f√ºr die Dauer des Services.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/mietwagenflotte_esmart.jpg') }}" alt="H√∂ricke √ñkosiegel"
                                     class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Wir helfen unserer Umwelt!</span>
                                <h4>Unser √ñkosiegel</h4>
                                <ul>
                                    <li>Wir verwenden 100&percnt; Strom aus erneuerbaren Energien</li>
                                    <li><strong>Wir nutzen Elektrofahrzeuge in unseren allt√§glichen Betriebsabl√§ufen,
                                            sowie in unserer Ersatzwagenflotte</strong></li>
                                    <li>Wir sind geschult und zertifiziert in der Reparatur von Elektrofahrzeugen</li>
                                    <li>Umr√ºstung unseres Betriebes auf energiesparende LED Technik</li>
                                    <li>Wir verwenden neue Reifen- bzw. R√§der-Verpackungen nur auf expliziten
                                        Kundenwunsch
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
<!--Flyer-->

			<center><img src="{{ asset('assets/img/helpline.jpg') }}" width="50%" height="50%" alt="Bild nicht gefunden."></center>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
