{% extends 'base.html.twig' %}

{% block title %}Höricke meine Werkstatt{% endblock %}

{% block body %}

    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="content col-lg-12">
                    <!--- Corona -->
                    <div class="blog-box row list-style clearfix">

                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

                            <!--BANNER ZEITWERTGERECHTE REPERATUR-->

                            <!--<img src="{{ asset('assets/img/banner_zeitwertgerechte_reparatur.png') }}" width="100%" height="100%" alt="Bild nicht gefunden.">-->

                        </div>

                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>

                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>

                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>

                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>


                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

                            <!--BANNER MITARBEITER GESUCHT-->

                            <img src="{{ asset('assets/img/Hoericke_SD_Mitarbeiter_072020.png') }}" width="100%"
                                 height="100%" alt="Bild nicht gefunden.">
                            <!--<p><span style="color:black">
                            <b>Liebe Kundinnen und Kunden,</b><br/>
                            wir möchten uns auch einmal zu der derzeitigen Corona-Virus-Situation melden. <br/>
                            <br/>
                            Unser Geschäft bleibt wie gewohnt für Sie geöffnet und solange man uns lässt, sind wir für euch und eure fahrenden Begleiter da. Wir versuchen natürlich alles wie gewohnt beizubehalten, so dass für euch keine Auswirkungen spürbar sind, aber es kann zu Lieferengpässen von Ersatzteilen kommen, es kann also sein, dass euer Fahrzeug etwas länger bei uns bleiben muss oder wir Reparaturen auf einen anderen Termin schieben müssen. <br/>
                            <br/>
                            Wir wünschen Ihnen eine gute Zeit und bleibt gesund.<br/>
                            Euer Team von Höricke meine Werkstatt-->
                            </span>
                        </div>
                        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>-->
                        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>-->

                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>

                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>


                        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>-->
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <!--<h3 align="center">Aktueller Hinweis:</h3>-->

                            <!--BANNER MWST GEÄNDERT-->

                            <!--<img src="{{ asset('assets/img/Hoericke_SD_MwSt_Tuer_062020.png') }}" width="100%" height="100%" alt="Bild nicht gefunden.">
                        <p><span style="color:black">
						<b>Liebe Kundinnen und Kunden,</b><br/>
						wir möchten uns auch einmal zu der derzeitigen Corona-Virus-Situation melden. <br/>
						<br/>
						Unser Geschäft bleibt wie gewohnt für Sie geöffnet und solange man uns lässt, sind wir für euch und eure fahrenden Begleiter da. Wir versuchen natürlich alles wie gewohnt beizubehalten, so dass für euch keine Auswirkungen spürbar sind, aber es kann zu Lieferengpässen von Ersatzteilen kommen, es kann also sein, dass euer Fahrzeug etwas länger bei uns bleiben muss oder wir Reparaturen auf einen anderen Termin schieben müssen. <br/>
						<br/>
						Wir wünschen Ihnen eine gute Zeit und bleibt gesund.<br/>
						Euer Team von Höricke meine Werkstatt
						</span>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>-->

                        </div>
                        <!--- Corona /-->

                        <!--- HU-Banner -->
                        <!--
					<div class="blog-box row list-style clearfix">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
						<h3 align="center">Ab sofort – unser Angebot (gültig vom 25.02.2020 – 31.03.2020)</h3>
                            <img src="{{ asset('assets/img/Hoericke_HU_Banner.jpg') }}" alt="Höricke Werkstatt"
                                 class="img-fluid">
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                    </div>
					-->
                        <!--- HU-Banner /-->

                        <!--- Maerz-Coupon -->
                        <!--
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                            <img src="{{ asset('assets/img/2020-03-Coupon.jpg') }}" alt="Höricke Werkstatt"
                                 class="img-fluid">
							<p>
							<b>Ob es uns reicht die HU/AU für 89€ anzubieten? Nein, das reicht uns nicht!</b><br/>
							<b>Bis zum 31.03.2020 könnt Ihr bei uns den Coupon über 15€ einlösen, natürlich nur einmal.</b><br/>
							<br/>
							<b>WIE?</b> Einfach Ausdrucken oder Foto mit dem Handy machen und uns beim nächsten Werkstattbesuch einfach vorzeigen<br/>
							<b>WAS?</b> Auf alle Dienstleistungen, außer HU/AU<br/>
							<b>WANN?</b> Vom 25.02.-31.03.2020<br/>
							<b>WO?</b> Natürlich bei uns, Höricke meine Werkstatt GmbH<br/>
							<b>WARUM?</b> Weil wir mal Danke sagen wollen<br/>
							Sprecht uns gerne vor Ort, am Telefon oder per Mail an. Wir freuen uns auf euch.<br/>
							</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                    </div>
					-->
                        <!--- Maerz-Coupon /-->

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <img src="{{ asset('assets/img/werkstatt.jpg') }}" alt="Höricke Werkstatt"
                                         class="img-fluid img-thumbnail">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Schnell, Fair und Serviceorientiert</span>
                                    <h4>Höricke meine Werkstatt GmbH</h4>
                                    <p>
                                        Sehr geehrte Damen und Herren,
                                        <br/>
                                        Wir sind ein Kfz-Meister-/Fachbetrieb, der 1993 gegründet wurde. Seitdem hat
                                        sich
                                        unser Unternehmen auf 32 Mitarbeiter im 2-Schichtbetrieb erweitert. Modernste
                                        Technik und eine neue Mietwagen-Flotte stehen für Ihre
                                        Zufriedenheit zur Verfügung.
                                    </p>

                                </div>
                            </div>
                        </div>

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <img src="{{ asset('assets/img/team_alt.jpg') }}" alt="Höricke Team"
                                         class="img-fluid img-thumbnail">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Wir arbeiten Hand in Hand für Sie</span>
                                    <h4>Unser Team</h4>
                                    <p>Wir stehen rund um die Uhr für Ihre Zufriedenheit ein! Ein Team, in dem Arbeit
                                        Spaß
                                        macht – Azubi neben Geselle und Meister.</p>
                                    12.000 Kunden – die uns bereits vertrauen! Daneben mehrere Botschaften, die
                                    Brandenburger Polizei, die Arbeiterwohlfahrt, viele Handwerksbetriebe aus der
                                    Umgebung
                                    und einige Prominente.
                                </div>
                            </div>
                        </div>

                        <!--- RADWECHSELTERMIN ONLINE -->
                        {% if reifenEnabled %}
                            <div class="blog-box row list-style clearfix not-temp-hidden">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="blog-media">
                                        <img src="{{ asset('assets/img/galerie/OnlineTermin.jpeg') }}" alt="Höricke Online Termine"
                                             class="img-fluid img-thumbnail">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="blog-desc">
                                        <span class="cat-title">Kennt ihr schon unser neues digitales Autohaus?</span>
                                        <h4>Online Terminbuchung</h4>
                                        <p>
                                            Bucht hier zu jeder Tageszeit eure Termine einfach online. <span
                                                    style="font-style: italic;">Schnell &amp; unkompliziert</span>
                                        </p>
                                        <div class="blog-bottom">
                                            <a href="{{ path('onlinebuchung') }}" class="btn btn-primary">Jetzt buchen</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!--- RADWECHSELTERMIN ONLINE /-->

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <img src="{{ asset('assets/img/whatsapp.jpg') }}" alt="Höricke WhatsApp"
                                         class="img-fluid img-thumbnail">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Immer für Sie erreichbar</span>
                                    <h4>WhatsApp Buddies?</h4>
                                    <p>
                                        Wir sind dabei – ab sofort sind wir für Euch auch per WhatsApp erreichbar. Es
                                        gibt
                                        keine spezielle Rufnummer, also könnt ihr uns einfach auf unsere Festnetznummer
                                        schreiben oder anrufen (diese muss natürlich in
                                        eurem Smartphone gespeichert sein).
                                    </p>
                                    <p>
                                        WhatsApp wurde vor allem eingerichtet, um euch Fotos von Schäden oder Mängeln an
                                        eurem Liebling direkt zu zeigen. So kommen keine Fragen auf und ihr seht was
                                        repariert werden müsste. Also wir freuen uns auf das
                                        digitale Zeitalter und hoffen, dass ihr genauso viel Spaß daran habt wie wir.
                                    </p>
                                    <div class="blog-bottom">
                                        <a href="https://wa.me/004933284799090" target="_blank" class="btn btn-primary"><i
                                                    class="fa fa-whatsapp"></i> Chat Starten</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <img src="{{ asset('assets/img/inspektion.jpg') }}" alt="Höricke Inspektion"
                                         class="img-fluid img-thumbnail">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Inspektion nach Herstellervorgaben</span>
                                    <h4>Inspektion für nur 99,– Euro!</h4>
                                    <p>
                                        Bei uns kostet die Inspektion (nach Herstellervorgaben) Ihres Wagens nur
                                        <br/>
                                        <strong>99,– Euro</strong>
                                    </p>
                                    <p>
                                        Darin enthalten sind die europaweite Mobilitätsgarantie und der kostenlose
                                        Werkstattersatzwagen für die Dauer des Services.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="blog-media">
                                    <img src="{{ asset('assets/img/mietwagenflotte_esmart.jpg') }}"
                                         alt="Höricke Ökosiegel"
                                         class="img-fluid img-thumbnail">
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                <div class="blog-desc">
                                    <span class="cat-title">Wir helfen unserer Umwelt!</span>
                                    <h4>Unser Ökosiegel</h4>
                                    <ul>
                                        <li>Wir verwenden 100&percnt; Strom aus erneuerbaren Energien</li>
                                        <li><strong>Wir nutzen Elektrofahrzeuge in unseren alltäglichen
                                                Betriebsabläufen,
                                                sowie in unserer Ersatzwagenflotte</strong></li>
                                        <li>Wir sind geschult und zertifiziert in der Reparatur von Elektrofahrzeugen
                                        </li>
                                        <li>Umrüstung unseres Betriebes auf energiesparende LED Technik</li>
                                        <li>Wir verwenden neue Reifen- bzw. Räder-Verpackungen nur auf expliziten
                                            Kundenwunsch
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="blog-box row list-style clearfix">
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <!--Flyer-->

                                <center><img src="{{ asset('assets/img/helpline.jpg') }}" width="50%" height="50%"
                                             alt="Bild nicht gefunden."></center>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10"></div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
