{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="content col-lg-8">
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/werkstatt.jpg') }}" alt="Höricke Werkstatt" class="img-fluid img-thumbnail">
                            </div>
                            <!-- end blog-media -->
                        </div><!-- end leftside -->

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Schnell, Fair und Serviceorientiert</span>
                                <h4>Höricke meine Werkstatt GmbH</h4>
                                <p>
                                    Sehr geehrte Damen und Herren,
                                    <br/>
                                    Wir sind ein Kfz-Meister-/Fachbetrieb, der 1993 gegründet wurde. Seitdem hat sich unser Unternehmen auf 25 Mitarbeiter im 2-Schichtbetrieb erweitert. Modernste Technik und eine neue Mietwagen-Flotte stehen für Ihre
                                    Zufriedenheit zur Verfügung.
                                </p>

                            </div><!-- end desc -->
                        </div><!-- end right-side -->
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/radwechsel.jpg') }}" alt="Höricke Radwechsel" class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Kennt ihr schon unser neues digitales Autohaus?</span>
                                <h4>Radwechseltermin online</h4>
                                <p>
                                    Bucht hier direkt euren Radwechseltermin online. <span style="font-style: italic;">Schnell &amp; unkompliziert</span>
                                </p>
                                <div class="blog-bottom">
                                    <a href="single.html" class="btn btn-primary">Jetzt buchen</a>
                                </div><!-- end bottom -->
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/oekosiegel.jpg') }}" alt="Höricke Ökosiegel" class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Wir helfen unserer Umwelt!</span>
                                <h4>Unser Ökosiegel</h4>
                                <ul>
                                    <li>Wir verwenden 100&percnt; Strom aus erneuerbaren Energien</li>
                                    <li>Wir nutzen Elektrofahrzeuge in unseren alltäglichen Betriebsabläufen, sowie in unserer Ersatzwagenflotte</li>
                                    <li>Wir sind geschult und zertifiziert in der Reparatur von Elektrofahrzeugen</li>
                                    <li>Umrüstung unseres Betriebes auf energiesparende LED Technik</li>
                                    <li>Wir verwenden neue Reifen- bzw. Räder-Verpackungen nur auf expliziten Kundenwunsch </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!-- end col -->

                <div class="sidebar col-lg-4">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3><span>Unser Tip</span></h3>
                        </div>
                        <div class="about-widget text-center">
                            <div class="entry">
                                <img src="{{ asset('assets/img/schnappchen_FRU.png') }}" alt="Höricke Angebot" class="img-fluid">
                            </div>
                            <p style="font-weight:700;">Bleiben Sie mobil - mit unserer Werkstattersatzwagenflotte!</p>
                            <p>Das Werkstattersatzfahrzeug ist im Rahmen der Inspektion gratis. Wenn Sie mehr erfahren wollen klicken Sie <a href="#">hier</a></p>
                        </div>
                    </div>
                    <div class="widget clearfix text-center">
                        <div class="widget-title">
                            <h3><span>Torsten Höricke</span></h3>
                        </div>
                        <img src="{{ asset('assets/img/torsten-hoericke.jpg') }}" alt="Torsten Höricke" class="img-fluid img-thumbnail">
                        <p>
                            Der Typ, der nie Ruhe gibt, Augen und Ohren überall hat.
                            Aber gut, dass es ihn gibt, er hält alles zusammen, Torsten Höricke
                        </p>
                    </div><!-- end widget -->

                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3><span>Eindrücke</span></h3>
                        </div><!-- end widget-title -->
                        <div class="instagram-wrapper clearfix">
                            <a href="#"><img src="{{ asset('assets/img/galerie/image1.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image2.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image3.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image4.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image1.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image2.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image3.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image4.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image1.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                        </div><!-- end Instagram wrapper -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
{% endblock %}
