{% extends 'base.html.twig' %}

{% block title %}Höricke meine Werkstatt - Leistungen{% endblock %}

{% block body %}

    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="content col-lg-8">
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Spitzenleistung</span>
                                <h4>Wir sind für Sie da!</h4>
                                <div class="row">
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Inspektionsservice</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">HU/AU</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Bremsen-Service</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Kupplungs-Service</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Stoßdämpfer-Service</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Achsvermessung</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Reifendienst</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Klimaanlagenservice</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Autogasanlagen</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Standheizungen</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Kfz-Unfallgutachten</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Unfallinstandsetzung</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Karosseriefachbetrieb</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Lackierung</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Werkstattersatzwagen</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Fahrzeugelektronik</span></div>
                                    <div class="col-4 border bg-light" style="min-height: 54px;"><span class="leistung-box">Diagnose</span></div>
                                </div>
                            </div><!-- end desc -->
                        </div><!-- end right-side -->
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/inspektion.jpg') }}" alt="Höricke Werkstatt" class="img-fluid img-thumbnail">
                            </div>
                            <!-- end blog-media -->
                        </div><!-- end leftside -->

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Europaweite Mobilität</span>
                                <h4>Inspektion* mit Mobilitätsgarantie für nur 99,– Euro</h4>
                                <p>
                                    Eine Inspektion kostet 99,– Euro. Darin enthalten ist die europaweite Mobilitätsgarantie und der kostenlose Werkstattersatzwagen für die
                                    Dauer des Services. Die Inspektion wird nach Herstellervorgaben
                                    durchgeführt, dies können sie anhand des Wartungsprotokolls nachvollziehen.
                                    <br />
                                    <br />
                                    Nach der Inspizierung ihres Fahrzeugs und dem eventuell erforderlichen Ölwechsel, werden sie vom Werkstattmeister Rico Schneider oder den Schichtleitern Oliver Marx und Michael Grabow umfassend über weitere Reparaturmaßnahmen und deren Kosten informiert, sodass sie zusammen mit den Fachkollegen über akute Mängel, welche sofort repariert werden müssen und Hinweisen für spätere Reparaturen immer auf ihre persönlichen Bedürfnisse zugeschnitten, entscheiden können.
                                    <br />
                                    <br />
                                    Transparenz ist uns sehr wichtig, sie sollen nur das bezahlen, worüber
                                    wir sie informiert haben.
                                </p>
                                <p>* nach Herstellervorgaben</p>

                            </div><!-- end desc -->
                        </div><!-- end right-side -->
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/source/achsvermessung.jpg') }}" alt="Höricke Werkstatt" class="img-fluid img-thumbnail">
                            </div>
                            <!-- end blog-media -->
                        </div><!-- end leftside -->

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Wichtig für Ihre Sicherheit</span>
                                <h4>Professionelle Achsvermessung</h4>
                                <p>
                                    Die Achsvermessung ist erforderlich, um zu gewährleisten, dass Ihr Fahrzeug zuverlässig geradeaus fährt und sich präzise steuern lässt. Das Überfahren von Bordsteinkanten oder Schlaglöchern reicht oft schon aus, um die Achsgeometrie eines Fahrzeugs aus der Toleranz zu bringen.
                                    <br />
                                    <br />
                                    Eine falsch eingestellte Achse kann sich negativ auf die Fahrsicherheit und das Bremsverhalten auswirken. Ist die Spur zu einer Seite verstellt, zieht das Auto nach links oder rechts und auch die Reifen können sich einseitig abfahren. Sobald sich das Fahrverhalten Ihres Fahrzeugs ändert, sollten Sie schnellstmöglich eine Achsvermessung in unserer Werkstatt durchführen lassen, denn so sind Sie immer sicher unterwegs.
                                </p>

                            </div><!-- end desc -->
                        </div><!-- end right-side -->
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/partner/tuev-rheinland.png') }}" alt="Höricke Werkstatt" class="img-fluid img-thumbnail">
                            </div>
                            <!-- end blog-media -->
                        </div><!-- end leftside -->

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">In Kooperation mit dem TÜV Rheinland</span>
                                <h4>HU und AU für 115,- Euro</h4>
                                <p>
                                    Selbstverständlich können Sie bei uns Ihre Hauptuntersuchung (HU) und/oder Abgasuntersuchung (AU) durchführen lassen. Dies geschieht bei uns in Kooperation mit dem <a href="http://www.tuv.com/de/deutschland/home.jsp">TÜV Rheinland</a>, einem unserer vertrauensvoller Partner.
                                </p>

                            </div><!-- end desc -->
                        </div><!-- end right-side -->
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/motorcheck.jpg') }}" alt="Höricke Werkstatt" class="img-fluid img-thumbnail">
                            </div>
                            <!-- end blog-media -->
                        </div><!-- end leftside -->

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Wir prüfen</span>
                                <h4>Sicherheitscheck bei Höricke ab 9,95 Euro</h4>
                                <p>
                                    Motorenölstand, Keilriemen, Reifen- und Luftdruck, Bremsanlage, Beleuchtungsanlage, Unterbodenschutz, Kühlflüssigkeitszustand, Scheibenwaschanlage, Auspuffanlage, Wischerblätter, Verbandkasten, Batterie
                                </p>

                            </div><!-- end desc -->
                        </div><!-- end right-side -->
                    </div>
                </div><!-- end col -->

                <div class="sidebar col-lg-4">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3><span>Unser Tip</span></h3>
                        </div>
                        <div class="about-widget text-center">
                            <div class="entry">
                                <img src="{{ asset('assets/img/schnappchen_FRU.png') }}" alt="Höricke Angebot" class="img-fluid">
                            </div>
                            <p style="font-weight:700;">Bleiben Sie mobil - mit unserer Werkstattersatzwagenflotte!</p>
                            <p>Das Werkstattersatzfahrzeug ist im Rahmen der Inspektion gratis. Wenn Sie mehr erfahren wollen klicken Sie <a href="#">hier</a></p>
                        </div>
                    </div>
                    <div class="widget clearfix text-center">
                        <div class="widget-title">
                            <h3><span>Torsten Höricke</span></h3>
                        </div>
                        <img src="{{ asset('assets/img/torsten-hoericke.jpg') }}" alt="Torsten Höricke" class="img-fluid img-thumbnail">
                        <p>
                            Der Typ, der nie Ruhe gibt, Augen und Ohren überall hat.
                            Aber gut, dass es ihn gibt, er hält alles zusammen, Torsten Höricke
                        </p>
                    </div><!-- end widget -->

                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3><span>Eindrücke</span></h3>
                        </div><!-- end widget-title -->
                        <div class="instagram-wrapper clearfix">
                            <a href="#"><img src="{{ asset('assets/img/galerie/image1.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image2.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image3.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image4.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image1.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image2.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image3.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image4.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                            <a href="#"><img src="{{ asset('assets/img/galerie/image1.jpg') }}" alt="" class="img-fluid img-thumbnail"></a>
                        </div><!-- end Instagram wrapper -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
{% endblock %}
