{% extends 'base.html.twig' %}

{% block title %}Höricke meine Werkstatt - Sponsoring{% endblock %}

{% block body %}
    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="content col-lg-12">
                    <!-- BANNER
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/partner/RAK_Banner-2019.jpg') }}" alt="Höricke Werkstatt Rock am Kanal" class="img-fluid img-thumbnail">
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Sponsoring</span>
                                <h4>Ehrensache</h4>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/partner/RAK_Banner-2022.png') }}" alt="Höricke Werkstatt Rock am Kanal" class="img-fluid img-thumbnail">
                            </div>
                            <div class="blog-desc">
                                <p style="color:#000 !important;">
                                    An folgende Projekte wurde gespendet:
                                </p>
                                <ul style="color:#000 !important;">
                                    <li>Kinderschutzengel e.V.</li>
                                    <li>Ukrainehilfe aus Kleinmachnow</li>
                                    <li>Brandenburger ASB Wünschewagen</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Musik für den guten Zweck 2022</span>
                                <h4>Rock am Kanal 2022</h4>
                                <p style="color:#000 !important;">
                                   2022 begann dann der absolute Wahnsinn! Mitüber 3000 Besuchern konnten wir wieder Rekordsummen für den guten Zweck ein spielen. Unsere Förderprojekte waren diesmal neben dem ASB-Wünschewagen, welcher uns mittlerweile ein Daueranliegen ist, dem Verein „Kinderschutzengel e.V.“ auch die Ukrainehilfe aus Kleinmachnow.
                                </p>
                                p style="color:#000 !important;">
                                   Der Verein Kinder-schutzengel e.V. aus Berlin hat es sich zur Aufgabe gemacht schwer- und chronisch kranke sowie behinderte Kinder und Jugendliche und ihre Familien bundesweit zu unterstützen. Kinderschutzengel e.V. erhält für seine Arbeit keine öffentlichen Fördermittel, auch die Krankenkassen übernehmen keine Kosten. Der Verein finanziert sich ausschließlich über Spenden, Fördermitglieder und Sponsoren. Sie helfen Kindern und Jugendlichen direkt auf den Stationen der Krankenhäuser und das mittlerweile schon in Berlin und Brandenburg. Unsere Spenden haben wir wie folgt aufgeteilt: 
                                </p>
                                <p style="color:#000 !important;">
                                    DANKESCHÖN
                                    <br />
                                    Euer Team von Rock am Kanal.
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image1.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image1.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image2.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image2.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image3.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image3.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image4.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image4.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image5.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image5.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image6.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image6.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image7.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image7.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image8.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image8.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ab hier komplettes DIV kopieren-->
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/partner/RAK_Banner-2019.jpg') }}" alt="Höricke Werkstatt Rock am Kanal" class="img-fluid img-thumbnail">
                            </div>
                            <div class="blog-desc">
                                <p style="color:#000 !important;">
                                    An folgende Projekte wurde gespendet:
                                </p>
                                <ul style="color:#000 !important;">
                                    <li>Stiftung "Hilfe für Familien in Not"</li>
                                    <li>Musikraum an der Giesensdorfer Gesamtschule </li>
                                    <li>Brandenburger ASB Wünschewagen</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Musik für den guten Zweck 2019</span>
                                <h4>Rock am Kanal 2019</h4>
                                <p style="color:#000 !important;">
                                    <strong>DANKE, DANKE, DANKE, IHR SEID DER ABSOLUTE WAHNSINN</strong>
                                </p>
                                <p style="color:#000 !important;">
                                    Wir sind immer noch total gerührt, geflasht und eigentlich fehlen uns gerade die Worte. Wir hatten weit über 2000 Gäste im Publikum und haben über 30 000 € eingespielt. Ich habe mir heute Morgen die ersten Bilder von den weltbesten Fotografen Dirk Pagels und Thomas Utecht angesehen und hatte wieder Pipi in den Augen, ach man schei… jetzt schon wieder.<br />
                                    Am Samstag 31.08.2019 fand unser 7. Benefizkonzert "ROCK AM KANAL" statt. Wieder einmal war die Planung lang und hat viele Nerven gekostet, aber es hat sich gelohnt, wir haben ordentlich gerockt, es war einfach nur mega geil mit EUCH. Wir haben wieder einmal bewiesen, wir sind eine geile Stadt und wir alle machen unser gemeinsames Land bunter, offener und toleranter, egal wie jeder einzelne fühlt und denkt, die Gemeinschaft und der Zusammenhalt zählt.
                                </p>
                                <p style="color:#000 !important;">
                                    <strong>Wow, das ist doch der Knaller</strong>
                                </p>
                                <p style="color:#000 !important;">
                                    Aber der Dank geht nicht nur an EUCH, sondern natürlich auch an unsere lieben Sponsoren, an alle Freiwilligen, an unsere Teltow Feuer und Rettungswache, an Thomas Klemm unserem Hafenbetreiber, an die Musiker, an unsere Freunde aus den Niederlanden und an alle Helfer im Hintergrund. Ohne euch wäre das alles nicht so geil gelaufen. Ihr habt mit eurem Fleiß und viel Spaß super zugepackt beim Einlass, Merchandising, im Backstagebereich und beim ungeliebten Aufräumen.
                                    Ihr seid die Größten und so wichtig für dieses einmalige BENEFIZPROJEKT in Teltow.
                                </p>
                                <p style="color:#000 !important;">
                                    Auch ein großes Dankeschön geht an die Stadt und an unseren Bürgermeister Thomas Schmidt, die uns wieder mal rocken lassen hat, an Elektro Müller für den Stromanschluss – ohne den es ganz schön ruhig und leise geworden wäre, Helikum Security für die einwandfreie Sicherheit, Druckerei Grabow und IG Design die sich wieder um alles Druckbare und Banner gekümmert haben und Tischlerei Kuhlmey ohne die die Plakate nur so im Wind geflattert hätten.
                                    Ohne Moos, Nix los – ein fettes Danke auch an all die edlen Geldspender, ohne die nichts gelaufen wäre.
                                    Nächstes Jahr sehen wir uns wieder, wir werden viel mitnehmen aus diesem Jahr und geloben Besserung mit ordentlich laufenden Bier. Habt Nachsicht mit uns, aber das sollten wir mit so viel Unterstützung von euch auch locker schaffen.
                                </p>
                                <p style="color:#000 !important;">
                                    Also ihr Lieben, auf ein geiles Jahr, bis es wieder heißt, let´s Rock am Kanal!
                                </p>
                                <p style="color:#000 !important;">
                                    DANKESCHÖN
                                    <br />
                                    Euer Team von Rock am Kanal.
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image1.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image1.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image2.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image2.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image3.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image3.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image4.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image4.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image5.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image5.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image6.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image6.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image7.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image7.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2019/image8.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2019/image8.jpg') }}"
                                                     class="img-fluid img-thumbnail"
                                                     title="Rock am Kanal 2019"
                                                     alt="RAK 2019"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/partner/RAK_Banner-2018.jpg') }}" alt="Höricke Werkstatt Rock am Kanal" class="img-fluid img-thumbnail">
                            </div>
                            <div class="blog-desc">
                                <p style="color:#000 !important;">
                                    An folgende Projekte wurde gespendet:
                                </p>
                                <ul style="color:#000 !important;">
                                    <li>Ludwigsfelder Weihnachtsengel</li>
                                    <li>Kindertrauergruppe Teltow Kleinmachnow Stahnsdorf</li>
                                    <li>Wünschewagen ASB</li>
                                    <li>Freiwillige Feuerwehr</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Musik für den guten Zweck 2018</span>
                                <h4>Rock am Kanal 2018</h4>
                                <p style="color:#000 !important;">
                                    <strong>DANKESCHÖN, IHR SEID DER ABSOLUTE WAHNSINN</strong>
                                </p>
                                <p style="color:#000 !important;">
                                    Am 01.09.2018 fand unser alljährliches Benefizkonzert „Rock am Kanal“ statt. Wieder einmal war die Planung lang und hat viele Nerven gekostet, aber es hat sich gelohnt, wir haben ordentlich gerockt, es war einfach nur geil.
                                    2.000 rockbegeisterte Menschen feierten mit uns und haben dabei gewaltig in die Taschen gegriffen.
                                    Und ob ihr es glaubt oder nicht, dabei kamen unfassbare 20.000&euro; zusammen.
                                </p>
                                <p style="color:#000 !important;">
                                    <strong>Wow, einfach nur Wow, das ist doch verrückt!</strong>
                                </p>
                                <p style="color:#000 !important;">
                                    Es fällt uns jedes Jahr wieder schwer uns entscheiden, welche Projekte wir mit dem Geld unterstützen, denn verdient hat es jedes Einzelne.
                                </p>
                                <p style="color:#000 !important;">
                                    Aber der Dank geht nicht nur an unsere lieben Sponsoren, auch an alle Freiwilligen, die Musiker und alle Helfer im Hintergrund. Ohne euch wäre das alles nicht so glatt gelaufen, ihr habt mit eurem Fleiß und viel Spaß super zugepackt beim Einlass, Merchandising, Backstagebereich und beim ungeliebten Aufräumen. Danke an Anke, Frank, Joana, Jann, Kerstin, Micha, Eric, Tobi, Luisa, Jasmin, Alina, Jan, Sebi und Hannah. Ihr seid super.
                                </p>
                                <p style="color:#000 !important;">
                                    Auch ein großes Danke schön geht an Carsten Stahl, der sein Anti-Mobbing-Projekt vorgestellt hat, an die Stadt, die uns wieder mal rocken lassen hat, an Elektro Müller für den Stromanschluss – ohne den es ganz schön ruhig und leise geworden wäre, Helikum Security für die einwandfreie Sicherheit, Druckerei Grabow und IG Design die sich wieder um alles Druckbare und Banner gekümmert haben und Tischlerei Kuhlmey ohne die die Plakate nur so im Wind geflattert hätten.
                                    Ohne Moos, Nix los – ein fettes Danke auch an die edlen Geldspender, ohne die nichts gelaufen wäre. Höricke meine Werkstatt GmbH, die nicht nur Mitinitiator sondern auch Hauptspender waren, Steuerbüro Albrecht und Partner, MEG Schurbohm, MBS Potsdam, Baugeschäft Brüssow, Thommy Jeschull, Blitz Gebäudereinigung, Thomas Augsten, Partyservice Witt, Husky Autoteile, Rechtsanwaltskanzlei Fromm, Adreas Apel, Labortechnik Günther, Abschleppdienst Tismer, Sanizentra, M.I.B. Bau, Elektro Gubela, Ingenieur Osiewacz, Baustoff Brandes, TRP Bau, Eurovia, Dieter Leszinski und UNAMI.
                                </p>
                                <p style="color:#000 !important;">
                                    Nächstes Jahr sehen wir uns wieder, nur an einem anderen Platz. Wir haben jetzt ein Jahr Zeit um uns einen neuen Veranstaltungsort zu suchen, aber das sollten wir mit so viel Unterstützung von euch locker schaffen.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/partner/RAK_Banner-2017.jpg') }}" alt="Höricke Werkstatt Rock am Kanal" class="img-fluid img-thumbnail">
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Musik für den guten Zweck 2017</span>
                                <h4>Rock am Kanal 2017</h4>
                                <p>
                                    Am Sonnabend, den 9. September 2017 war es wieder soweit, <strong>ROCK AM KANAL</strong> fand statt – Musik für den guten Zweck.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <div class="gallery">
                                    <a href="{{ asset('assets/img/partner/rak/2016/image1.jpg') }}"><img src="{{ asset('assets/img/partner/rak/2016/image1.jpg') }}" title="Rock am Kanal 2016" alt="Höricke Werkstatt Rock am Kanal 2016"
                                                                                                         class="img-fluid img-thumbnail"></a>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <p>
                                    An folgende Projekte wurde gespendet:
                                </p>
                                <ul>
                                    <li>ASB Landesverband Brandenburg</li>
                                    <li>CARAT Jugendarbeit Kleinmachnow</li>
                                    <li>Förderverein Wasserball Potsdam e.V.</li>
                                    <li>Heimatfreunde Ruhlsdorf</li>
                                    <li>KiJuNa Stadtteilzentrum Steglitz e.V.</li>
                                    <li>MädchenZukunftsWerkstatt</li>
                                    <li>NFJ – NaturFreundeJugend und der SV Ruhlsdorf 1893 e.V.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Musik für den guten Zweck 2016</span>
                                <h4>Rock am Kanal 2016</h4>
                                <p>
                                    Wir haben das Ding wieder gerockt:
                                    <br/>
                                    <br/>
                                    <strong>ROCK AM KANAL 2016</strong> war ein grandioser Abend. Wir können voller Stolz verkünden, dass wir nochmal 'ne Schippe drauf gelegt haben – weit über <strong>14.000,00&euro;</strong> kamen zusammen,
                                    sodass
                                    wir alle unsere acht Projekte voll unterstützen können.
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2016/image2.jpg') }}"><img src="{{ asset('assets/img/partner/rak/2016/image2.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2016"
                                                                                                                 alt="RAK 2016"/></a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2016/image3.jpg') }}"><img src="{{ asset('assets/img/partner/rak/2016/image3.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2016"
                                                                                                                 alt="RAK 2016"/></a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2016/image4.jpg') }}"><img src="{{ asset('assets/img/partner/rak/2016/image4.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2016"
                                                                                                                 alt="RAK 2016"/></a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2016/image5.jpg') }}"><img src="{{ asset('assets/img/partner/rak/2016/image5.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2016"
                                                                                                                 alt="RAK 2016"/></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            1400 begeisterte Musikverrückte haben bei echtem, ehrlichem und handgemachtem Rock gefeiert und uns bei unserem Engagement unterstützt – da kann man nur DANKE DANKE DANKE sagen an unsere Gäste, an die
                                            Musiker von The Wackos, Chix'n Bones, Kurzschluss, Handgezapft, Storm Resistant, Fahrenheit 212, natürlich an Rockhaus und an alle Helfer, Techniker, Sponsoren sowie Unterstützer, die Grandioses bei den
                                            Temperaturen geleistet haben. Ihr alle habt Träume wahr werden lassen und Augen zum Leuchten gebracht. Ihr seid die Größten.
                                        </p>
                                        <p>
                                            Bis nächstes Jahr, wir freuen uns schon.
                                            <br/>
                                            Euer Team von ROCK AM KANAL
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <div class="gallery">
                                    <a href="{{ asset('assets/img/partner/rak/2015/image1.jpg') }}"><img src="{{ asset('assets/img/partner/rak/2015/image1.jpg') }}" title="Rock am Kanal 2015" alt="Höricke Werkstatt Rock am Kanal 2015"
                                                                                                         class="img-fluid img-thumbnail"></a>
                                </div>
                            </div>
                            <br/>
                            <div class="blog-desc">
                                <p class="text-justify">
                                    Ganz lieben Dank den Sponsoren, Unterstützern und allen Besuchern, Danke an Marcus Kaiser und
                                    Stefan Gebhardt von BB-Radio für die wundervolle Begleitung über den Abend und natürlich ein riesen Dankeschön
                                    an die Musiker und Bands die alle kostenlos gespielt haben.
                                    Wir freuen uns auf nächstes Jahr!
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Musik für den guten Zweck 2015</span>
                                <h4>Rock am Kanal 2015</h4>
                                <p>
                                    29.08.2015 – <strong>ROCK AM KANAL</strong> hat zum dritten Mal losgerockt und es war ein voller Erfolg! Für die Projekte Kinderhaus Bolle, Kindernottelefon vom Verein jung und jetzt e.V. sowie unseren örtlichen
                                    Sportvereinen wurden über <strong>12.000,00&euro;</strong> eingespielt!
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2015/image1.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2015/image1.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2015" alt="RAK 2015"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2015/image2.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2015/image2.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2015" alt="RAK 2015"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2015/image3.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2015/image3.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2015" alt="RAK 2015"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <div class="gallery">
                                    <a href="{{ asset('assets/img/partner/rak/2014/image1.jpg') }}"><img src="{{ asset('assets/img/partner/rak/2014/image1.jpg') }}" title="Rock am Kanal 2014" alt="Höricke Werkstatt Rock am Kanal 2014"
                                                                                                         class="img-fluid img-thumbnail"></a>
                                </div>
                            </div>
                            <br/>
                            <div class="blog-desc">
                                <p class="text-justify">
                                    Die Stimmung war super, das Publikum ausgelassen und das Wetter hat auch mitgespielt. An Euch alle, vielen, vielen Dank für all das, was wir dieses Jahr dank Euch wieder erreichen konnten.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Musik für den guten Zweck 2014</span>
                                <h4>Rock am Kanal 2014</h4>
                                <p>
                                    dank Euch wieder ein voller Erfolg!
                                </p>
                                <p>
                                    Ein riesen Dankeschön an alle die da waren, gespendet und geholfen haben, an die Bands, die auf Ihre Gage zugunsten des Moskit o Projekts verzichtet haben und vor allem an die zahlreichen Sponsoren, die so fleißig
                                    gespendet haben. <strong>10.461,00&euro;</strong> sind zusammen gekommen!
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2014/image1.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2014/image1.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2014" alt="RAK 2014"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2014/image2.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2014/image2.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2014" alt="RAK 2014"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2014/image5.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2014/image5.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2014" alt="RAK 2014"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2014/image3.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2014/image3.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2014" alt="RAK 2014"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2014/image4.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2014/image4.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2014" alt="RAK 2014"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2014/image6.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2014/image6.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2014" alt="RAK 2014"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <div class="gallery">
                                    <a href="{{ asset('assets/img/partner/moskitow/image1.jpg') }}">
                                        <img src="{{ asset('assets/img/partner/moskitow/image1.jpg') }}" title="Projekt Moskitow" alt="Höricke Werkstatt Moskitow" class="img-fluid img-thumbnail">
                                    </a>
                                </div>
                            </div>
                            <br/>
                            <div class="blog-desc">
                                <p class="text-justify">
                                    Die Sponsoren
                                </p>
                                <ul>
                                    <li><a href="https://hoerickemeinewerkstatt.de">hoericke-meine-werkstatt.de</a></li>
                                    <li><a href="http://www.husky-autoteile.de">husky-autoteile.de</a></li>
                                    <li><a href="https://www.frankfromm.de/">frankfromm.de</a></li>
                                    <li><a href="http://www.ig-design.de/">ig-design.de</a></li>
                                    <li><a href="https://www.selgros.de/">selgros.de</a></li>
                                    <li><a href="https://www.blankenburg-beschallung.de/">blankenburg-beschallung.de</a></li>
                                    <li><a href="https://www.tuv.com/germany/de/">tuv.com/de/deutschland</a></li>
                                    <li><a href="https://www.shirt.ag/">shirt.ag</a></li>
                                    <li><a href="http://party-witt.de/">party-witt.de</a></li>
                                    <li><a href="https://www.druckerei-grabow.de/">druckerei-grabow.de</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Spendenübergabe</span>
                                <h4>Projekt MOSKITOW</h4>
                                <p>
                                    Das Projekt Moskitow kümmert sich um Kinder, welche in den Ferien nicht wegfahren können. Das "Spielmobil" fährt in den Ferien direkt zu den Spielplätzen in Teltow und bietet Kindern die Möglichkeit aus einer
                                    Vielfalt an transportablen Spielangeboten auszuwählen und sich somit sinnvoll zu beschäftigen.
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-6" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/moskitow/image1.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/moskitow/image1.jpg') }}" class="img-fluid img-thumbnail" title="Projekt Moskitow" alt="Projekt Moskitow"/>
                                            </a>
                                        </div>
                                        <div class="col-6" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/moskitow/image2.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/moskitow/image2.jpg') }}" class="img-fluid img-thumbnail" title="Projekt Moskitow" alt="Projekt Moskitow"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <p>
                                            Dank der Unterstützung aller, war Rock am Kanal 2014 ein voller Erfolg,
                                            denn wir können dem Projekt MOSKITOW jetzt nicht nur drei, vier oder sechstausend Euro übergeben, sondern sage und schreibe <strong>10.461,00&euro;</strong>
                                            <br/>
                                            Somit ist das Projekt auch für die Ferien der nächsten Jahre gesichert.
                                        </p>
                                        <p>
                                            Da ist es an der Zeit den Sponsoren und Unterstützern Danke zu sagen, danke
                                            an Herrn Moses vom Selgros Stahnsdorf, an Husky Autoteile, an Frank Fromm
                                            von der Rechtsanwaltskanzlei Fromm, an den TÜV Rheinland, an Torsten Witt
                                            vom Märkischen Party Service, an Ilka Bohn von IG Design, an Jens Grabow
                                            von der Druckerei Grabow, an Bernd Blankenburg und seinen Jungs für ihre
                                            Einsatz sowie an die Musiker von Briar Rose &amp; Sunshine and Friends, die
                                            Kantians, Rock'n Roll Suicide, Breaking Bad, H-Minor, Silverback, Oli Kranz
                                            und Fahrenheit 212, denn die haben alle auf ihre Gage verzichtet und zu
                                            Gunsten des Projekts umsonst gespielt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <div class="gallery">
                                    <a href="{{ asset('assets/img/partner/tfv1913/image1.jpg') }}">
                                        <img src="{{ asset('assets/img/partner/tfv1913/image1.jpg') }}" title="Teltower Fußballverein 1913" alt="Höricke Werkstatt TFV" class="img-fluid img-thumbnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Sponsoring</span>
                                <h4>Teltower Fußballverein 1913</h4>
                                <p>
                                    Die Kinder der 1. E-Junioren des
                                    TFV 1913 e.V. danken für die
                                    finanzielle Unterstützung beim
                                    Kauf der Trainingsanzüge.
                                </p>
                                <p>
                                    Sponsoring Eishockeyverein "Schlittschuhclub Berlin"
                                </p>
                                <p>
                                    Wir unterstützen die Bambini's
                                    des "Schlittschuhclubs Berlin" und
                                    erscheinen dafür in der monatlichen Vereinszeitschrift.
                                </p>
                                <p>
                                    <a href="https://www.teltowerfv1913.de/">https://www.teltowerfv1913.de/</a>
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/tfv1913/image1.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/tfv1913/image1.jpg') }}" class="img-fluid img-thumbnail" title="Teltower Fußballverein 1913" alt="Teltower Fußballverein 1913 Höricke"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/tfv1913/image2.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/tfv1913/image2.jpg') }}" class="img-fluid img-thumbnail" title="Teltower Fußballverein 1913" alt="Teltower Fußballverein 1913 Höricke"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/tfv1913/image3.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/tfv1913/image3.jpg') }}" class="img-fluid img-thumbnail" title="Teltower Fußballverein 1913" alt="Teltower Fußballverein 1913 Höricke"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/tfv1913/image4.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/tfv1913/image4.jpg') }}" class="img-fluid img-thumbnail" title="Teltower Fußballverein 1913" alt="Teltower Fußballverein 1913 Höricke"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/tfv1913/image5.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/tfv1913/image5.jpg') }}" class="img-fluid img-thumbnail" title="Teltower Fußballverein 1913" alt="Teltower Fußballverein 1913 Höricke"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/tfv1913/image6.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/tfv1913/image6.jpg') }}" class="img-fluid img-thumbnail" title="Teltower Fußballverein 1913" alt="Teltower Fußballverein 1913 Höricke"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <div class="gallery">
                                    <a href="{{ asset('assets/img/partner/hoppers.jpg') }}">
                                        <img src="{{ asset('assets/img/partner/hoppers.jpg') }}" title="SG Hoppers" alt="Höricke Werkstatt Hoppers" class="img-fluid img-thumbnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Spenden</span>
                                <h4>SG Hoppers Berlin</h4>
                                <p>
                                    Torsten Höricke spendet für verschiedene Projekte der <strong>SG Hoppers Berlin</strong>.
                                </p>
                                <p>
                                    <a href="https://www.hoppers-berlin.de//">https://www.hoppers-berlin.de/</a>
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-12" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/hoppers.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/hoppers.jpg') }}" class="img-fluid img-thumbnail" title="SG Hoppers" alt="Hoppers Höricke"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <div class="gallery">
                                    <a href="{{ asset('assets/img/partner/rak/2013/image1.jpg') }}">
                                        <img src="{{ asset('assets/img/partner/rak/2013/image1.jpg') }}" title="Rock am Kanal 2013" alt="Höricke Werkstatt RAK 2013" class="img-fluid img-thumbnail">
                                    </a>
                                </div>
                            </div>
                            <div class="blog-desc">
                                <br />
                                Spenden gingen an:
                                <br />
                                <ul>
                                    <li>2.000&euro; an das Kinder- und Jugendhilfsprojekt</li>
                                    <li>1.000&euro; an die Hochwasserhilfe</li>
                                    <li>500&euro; an den Teltower Tisch</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Musik für den guten Zweck 2014</span>
                                <h4>Rock am Kanal 2013</h4>
                                <p>
                                    Torsten Höricke und teltower Musiker laden zu einem Benefiz-Open Air ein.
                                    Der Erlöß dieser Veranstaltung kommt dem TELTOWER TISCH und einem Kinderhilfsprojekt der Region zu.
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2013/image1.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2013/image1.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2013" alt="RAK 2013"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2013/image2.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2013/image2.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2013" alt="RAK 2013"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2013/image3.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2013/image3.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2013" alt="RAK 2013"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2013/image4.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2013/image4.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2013" alt="RAK 2013"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2013/image5.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2013/image5.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2013" alt="RAK 2013"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2013/image6.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2013/image6.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2013" alt="RAK 2013"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/rak/2013/image7.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/rak/2013/image7.jpg') }}" class="img-fluid img-thumbnail" title="Rock am Kanal 2013" alt="RAK 2013"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <div class="gallery">
                                    <a href="{{ asset('assets/img/partner/gonfreville/image1.jpg') }}">
                                        <img src="{{ asset('assets/img/partner/gonfreville/image1.jpg') }}" title="Gonfreville" alt="Höricke Werkstatt Gonfreville" class="img-fluid img-thumbnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Erfolgreiches Kinder- und Jugendaustauschprogramm für eine lebendige Städtepartnerschaft</span>
                                <h4>Unternehmen Kindertagesstätten Teltow</h4>
                                <p>
                                    Es wird vorrangig den Kindern, deren Eltern aufgrund unterschiedlichster Schicksalsschläge nicht in der Lage sind, mit ihrem Kind in den Urlaub zu fahren, diese Reise ermöglicht. Dabei stehen unbeschwerte Ferien, aber auch der Austauschgedanke in Sinne des interkulturellen Lernens im Vordergrund.  Mittlerweile unterstützen auch mittelständische Betriebe das Projekt. Unternehmerisches Engagement zeigte dieses Jahr das Autohaus Höricke mit einer Spende in Höhe von <strong>2.000,00&euro;</strong>. Dafür spielten verschiedene Bands kostenlos in einem Open Air zu Anfang des Sommers am Teltowkanal. „Wir würden uns freuen, wenn uns weitere regionale Unternehmen unterstützen würden. Denn mit projektbezogenen Spenden kann konkret etwas bewegt werden. Betriebe engagieren sich dabei nicht nur für Soziales, sondern auch für Bildung", so Solveig Haller, Werkleiterin des städtischen Eigenbetriebes.
                                </p>
                                <p>
                                    Am Ende der Reise gab es viele Tränen, aber nicht wegen des Heimwehs. Einige der deutschen Kinder haben in den 14 Tagen enge Freundschaften mit den Gonfreviller Kindern geschlossen und wären gerne noch einige Tage geblieben. Aber vielleicht sehen sie ja ihre Freundin oder ihren Freund im nächsten Jahr wieder – eventuell sogar in Teltow, denn die Städtepartnerschaft lebt auch davon, dass Kinder aus Gonfreville L'Orcher nach Teltow kommen, so wie im Juni diesen Jahres.
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/gonfreville/image1.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/gonfreville/image1.jpg') }}" class="img-fluid img-thumbnail" title="Gonfreville" alt="Gonfreville"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/gonfreville/image2.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/gonfreville/image2.jpg') }}" class="img-fluid img-thumbnail" title="Gonfreville" alt="Gonfreville"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/gonfreville/image3.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/gonfreville/image3.jpg') }}" class="img-fluid img-thumbnail" title="Gonfreville" alt="Gonfreville"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/gonfreville/image4.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/gonfreville/image4.jpg') }}" class="img-fluid img-thumbnail" title="Gonfreville" alt="Gonfreville"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/gonfreville/image5.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/gonfreville/image5.jpg') }}" class="img-fluid img-thumbnail" title="Gonfreville" alt="Gonfreville"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/gonfreville/image6.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/gonfreville/image6.jpg') }}" class="img-fluid img-thumbnail" title="Gonfreville" alt="Gonfreville"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-4" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/gonfreville/image7.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/gonfreville/image7.jpg') }}" class="img-fluid img-thumbnail" title="Gonfreville" alt="Gonfreville"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <div class="gallery">
                                    <a href="{{ asset('assets/img/partner/special_olympics_small.jpg') }}">
                                        <img src="{{ asset('assets/img/partner/special_olympics_small.jpg') }}" title="Special Olympics" alt="Höricke Werkstatt Special Olympics" class="img-fluid img-thumbnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Special Olympics</span>
                                <h4>Torsten Höricke spendet für Sportler</h4>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-12" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/partner/special_olympics.jpg') }}">
                                                <img src="{{ asset('assets/img/partner/special_olympics.jpg') }}" class="img-fluid img-thumbnail" title="Special Olympics" alt="Special Olympics"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}