{% extends 'base.html.twig' %}

{% block title %}Höricke meine Werkstatt - Die Werkstatt{% endblock %}

{% block body %}
    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="content col-lg-12">
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Wir sind gerne für Sie da</span>
                                <h4>Die Werkstatt</h4>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/auszeichnung_2022.jpg') }}" alt="Höricke Werkstatt Auszeichnung" class="img-fluid img-thumbnail">
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Mit Auszeichnung</span>
                                <h4>Qualität im Werkstattservice</h4>
                                <p>
                                    Wir lassen regelmäßig vom TÜV Rheinland unseren Service und unsere Arbeitsqualität überprüfen und wurden Dank sehr guten Testergebnissen bereits 8 Mal mit einer Urkunde belohnt.
                                </p>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/auszeichnung_2014.jpg') }}">
                                                <img src="{{ asset('assets/img/auszeichnung_2014.jpg') }}" class="img-fluid img-thumbnail" title="Auszeichnung 2014" alt="TÜV 2014"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/auszeichnung_2015.jpg') }}">
                                                <img src="{{ asset('assets/img/auszeichnung_2015.jpg') }}" class="img-fluid img-thumbnail" title="Auszeichnung 2015" alt="TÜV 2015"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/auszeichnung_2016.jpg') }}">
                                                <img src="{{ asset('assets/img/auszeichnung_2016.jpg') }}" class="img-fluid img-thumbnail" title="Auszeichnung 2016" alt="TÜV 2016"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/auszeichnung_2017.jpg') }}">
                                                <img src="{{ asset('assets/img/auszeichnung_2017.jpg') }}" class="img-fluid img-thumbnail" title="Auszeichnung 2017" alt="TÜV 2017"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/auszeichnung_2018.jpg') }}">
                                                <img src="{{ asset('assets/img/auszeichnung_2018.jpg') }}" class="img-fluid img-thumbnail" title="Auszeichnung 2018" alt="TÜV 2018"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/auszeichnung_2019.jpg') }}">
                                                <img src="{{ asset('assets/img/auszeichnung_2019.jpg') }}" class="img-fluid img-thumbnail" title="Auszeichnung 2019" alt="TÜV 2019"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/auszeichnung_2020.jpg') }}">
                                                <img src="{{ asset('assets/img/auszeichnung_2020.jpg') }}" class="img-fluid img-thumbnail" title="Auszeichnung 2020" alt="TÜV 2020"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/auszeichnung_2021.jpg') }}">
                                                <img src="{{ asset('assets/img/auszeichnung_2021.jpg') }}" class="img-fluid img-thumbnail" title="Auszeichnung 2021" alt="TÜV 2021"/>
                                            </a>
                                        </div>
                                        <div class="col-6 col-md-2" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/auszeichnung_2022.jpg') }}">
                                                <img src="{{ asset('assets/img/auszeichnung_2022.jpg') }}" class="img-fluid img-thumbnail" title="Auszeichnung 2022" alt="TÜV 2022"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/teamfoto_geschnitten2023.jpg') }}" alt="Höricke Werkstatt Team" class="img-fluid img-thumbnail">
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Das Team - Unsere Guten Seelen</span>
                                <h4>Service und Annahme</h4>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-md-8 col-12 text-center" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/service_annahme_2023_neu.jpg') }}">
                                                <img src="{{ asset('assets/img/service_annahme_2023_neu.jpg') }}" class="img-fluid img-thumbnail" title="Team Service Höricke" alt="Service Höricke"/>
                                            </a>
                                        </div>
                                        <div class="col-md-4 col-12" style="line-height: 17px;">
                                            (v.l.n.r.)
                                            <br/>
                                            <br/>
                                            <strong>Atakan Altintas</strong><br/><span style="font-style: italic;">Automobilkaufmann</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Sarah Vogel</strong><br/><span style="font-style: italic;">Automobilkauffrau</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Florian Renenfeld</strong><br/><span style="font-style: italic;">Kfz-Meister</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Anne Schiller</strong><br/><span style="font-style: italic;">Automobilkauffrau / Serviceleiterin</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Rico Schneider</strong><br/><span style="font-style: italic;">Kfz-Meister</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Jennifer Brohmann</strong><br/><span style="font-style: italic;">Automobilkauffrau / Büroleiterin</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Max Gießel</strong><br/><span style="font-style: italic;">Auszubildender Automobilkaufmann</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Thosten Wierzoch</strong><br/><span style="font-style: italic;">Kfz-Meister</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="blog-desc">
                                <h4>Das Werkstatt-Team</h4>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-md-8 col-12 text-center" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/team_werkstatt_2023.jpg') }}">
                                                <img src="{{ asset('assets/img/team_werkstatt_2023.jpg') }}" class="img-fluid img-thumbnail" title="Team Werkstatt Höricke" alt="Werkstatt Höricke"/>
                                            </a>
                                            <br />
                                            <br />
                                            <span class="cat-title">Ein Tag in unserer Werstatt</span>
                                            <video src="{{ asset('assets/video/werkstatt.mp4') }}" class="img-fluid img-thumbnail" controls preload></video>
                                        </div>
                                        <div class="col-md-4 col-12" style="line-height: 17px;">
                                            (v.l.n.r.)
                                            <br/>
                                            <br/>
                                            <strong>René Welter </strong><br/><span style="font-style: italic;">Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Justus Nonnemann</strong><br/><span style="font-style: italic;">Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Merlin Tiefenbeck</strong><br/><span style="font-style: italic;">Auszubildender Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Gerrit Dreßler</strong><br/><span style="font-style: italic;">Auszubildender Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Pascal Wende</strong><br/><span style="font-style: italic;">Auszubildender Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Mathias Silbe</strong><br/><span style="font-style: italic;">Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Wilhelm Lehmann</strong><br/><span style="font-style: italic;">Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Michael Grabow</strong><br/><span style="font-style: italic;">Kfz-Mechatroniker, Schicht- und Werkstattleiter</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Nico Schrader</strong><br/><span style="font-style: italic;">Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Hiskia Grauel</strong><br/><span style="font-style: italic;">Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Marc Jaros</strong><br/><span style="font-style: italic;">Auszubildender Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Michael Paul</strong><br/><span style="font-style: italic;">Kfz-Mechatroniker und Diagnosetechniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Marcel Bräutigam</strong><br/><span style="font-style: italic;">Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Torsten Höricke</strong><br/><span style="font-style: italic;">Geschäftsführer</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            
                                            
                                            <br/>
                                            <br/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr/>
                            <div class="blog-desc">
                                <h4>Karosserie-Team</h4>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-md-8 col-12 text-center" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/team_karosserie_2023.jpg') }}">
                                                <img src="{{ asset('assets/img/team_karosserie_2023.jpg') }}" class="img-fluid img-thumbnail" title="Team Karosserie Höricke" alt="Karosserie Höricke"/>
                                            </a>
                                            <br />
                                            <br />
                                            <span class="cat-title">Ein Tag in unserer Karosserie-Abteilung</span>
                                            <video src="{{ asset('assets/video/karosserie.mp4') }}" class="img-fluid img-thumbnail" controls preload></video>
                                        </div>
                                        <div class="col-md-4 col-12" style="line-height: 17px;">
                                            (v.l.n.r.)
                                            <br/>
                                            <br/>
                                            <strong>Jörg Schulz</strong><br/><span style="font-style: italic;">Karosseriebaumeister</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Denny Lüdecke</strong><br/><span style="font-style: italic;">Schichtleiter Karosserieabteilung / Fachkraft für Karosserieinstandhaltung</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Andreas Ribbecke</strong><br/><span style="font-style: italic;">Fachkraft für Karosserieinstandhaltung</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Robert Marten</strong><br/><span style="font-style: italic;">Fachkraft für Karosserieinstandhaltung</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Mohamed Awada</strong><br/><span style="font-style: italic;">Auszubildender Mechaniker der Karosserieinstandhaltung</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Alexander Nachtigall</strong><br/><span style="font-style: italic;">Auszubildender Mechaniker der Karosserieinstandhaltung</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="blog-desc">
                                <h4>Unsere Zukunft - Die Auszubildenden</h4>
                                <div class="gallery">
                                    <div class="row">
                                        <div class="col-md-8 col-12 text-center" style="padding-bottom:10px;">
                                            <a href="{{ asset('assets/img/team_azubis_2023.jpg') }}">
                                                <img src="{{ asset('assets/img/team_azubis_2023.jpg') }}" class="img-fluid img-thumbnail" title="Team Azubis Höricke" alt="Azubis Höricke"/>
                                            </a>
                                        </div>
                                        <div class="col-md-4 col-12" style="line-height: 17px;">
                                            (v.l.n.r.)
                                            <br/>
                                            <br/>
                                            <strong>Alexander Nachtigall</strong><br/><span style="font-style: italic;">Auszubildender Mechaniker der Karosserieinstandhaltung</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Pascal Wende</strong><br/><span style="font-style: italic;">Auszubildender Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Merlin Tiefenbeck</strong><br/><span style="font-style: italic;">Auszubildender Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Marc Jaros</strong><br/><span style="font-style: italic;">Auszubildender Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Nico Schrader</strong><br/><span style="font-style: italic;">Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Gerrit Dreßler</strong><br/><span style="font-style: italic;">Auszubildender Kfz-Mechatroniker</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Mohamed Awada</strong><br/><span style="font-style: italic;">Mechaniker der Karosserieinstandhaltung</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Sohrab Waseqi</strong><br/><span style="font-style: italic;">Auszubildender Automobilkaufmann</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                            <strong>Maximilian Gießel</strong><br/><span style="font-style: italic;">Auszubildender Automobilkaufmann</span>
                                            <hr style="margin-top:0.2rem;margin-bottom:0.2rem;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-box row list-style clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="blog-media">
                                <img src="{{ asset('assets/img/mietwagenflotte_2023.jpg') }}" alt="Höricke Werkstatt" class="img-fluid img-thumbnail">
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="blog-desc">
                                <span class="cat-title">Modern und zuverlässig</span>
                                <h4>Unsere Werkstattersatzwagenflotte</h4>
                                <p>
                                    Das Werkstattersatzfahrzeug ist im Rahmen der Inspektion gratis.<br/>
                                    Es stehen 2 &frac12; Fahrzeugklassen zur Auswahl:<br/>
                                    <br/>
                                    <strong>Klasse 1</strong> (4-türige Fahrzeuge)<br/>
                                    <span style="font-style: italic;">VW UP, VW Polo, Hyundai i20, Skoda Fabia</span>
                                    <br/>
                                    <br/>
                                    <strong>Klasse 2</strong> (größere Fahrzeuge)<br/>
                                    <span style="font-style: italic;">Hyundai i30, Skoda Rapid, VW Touran, Mercedes e-Smart, Skoda Octavia, Merdcedes GLB, Skoda Karoq und Audi A1</span>
                                    <br/>
                                    <br/>
                                    <strong>Klasse sportlich</strong> <br/>
                                    <span style="font-style: italic;">Wir haben auch 3 Leihfahrräder.</span>
                                    <br/>
                                    <br/>
                                    Alle Pkw sind Neufahrzeuge und ausgerüstet mit einer Klimaanlage.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
