<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145326485-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145326485-1');
    </script>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('apple-touch-icon-60x60.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}" />
    <link rel="icon" type="image/png" href="{{ asset('favicon-196x196.png') }}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{{ asset('favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ asset('favicon-128.png') }}" sizes="128x128" />
    <meta name="application-name" content="Kfz Meisterbetrieb Höricke in Teltow"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}" />
    <meta name="msapplication-square70x70logo" content="{{ asset('mstile-70x70.png') }}" />
    <meta name="msapplication-square150x150logo" content="{{ asset('mstile-150x150.png') }}" />
    <meta name="msapplication-wide310x150logo" content="{{ asset('mstile-310x150.png') }}" />
    <meta name="msapplication-square310x310logo" content="{{ asset('mstile-310x310.png') }}" />

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,700" rel="stylesheet">
    <link href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/animate.css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/simplelightbox/dist/simplelightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/jquery-roadmap/dist/jquery.roadmap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/sticky.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/mitscom.min.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="preloader">
    <img class="preloader" src="{{ asset('assets/img/loader.gif') }}" alt="Hoericke Loader">
</div>

<!--- UPDATE BANNER -->
<span class="pinned p-som"></span>
<!--- UPDATE BANNER /--->

<!--- UPDATE WERKSTATT -->
<a href="https://www.werkstatt-des-vertrauens.de/" target="_blank"><span class="pinned-banner"></span></a>
<!--- UPDATE WERKSTATT /--->

<div id="wrapper">

    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a href="#" class="toggle-mnu d-lg-none"><span></span></a>
                <div class="collapse navbar-collapse" id="matildamenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('default') }}">Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('leistungen') }}">Leistungen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('werkstatt') }}">Die Werkstatt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sponsoring') }}">Sponsoring</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('geschichte') }}">Geschichte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('kontakt') }}">Kontakt</a>
                        </li>
                    </ul>
                    <div class="social">
                        <a href="https://www.facebook.com/pages/H%C3%B6ricke-MEINE-Werkstatt/189769644530576?fref=ts" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://wa.me/004933284799090" target="_blank" data-toggle="tooltip" data-placement="bottom" title="WhatsApp"><i class="fa fa-whatsapp"></i></a>
                    </div>
                    <div class="menu-right">
                        <a href="tel:+4933284799090" data-toggle="tooltip" data-placement="bottom" title="Jetzt Anrufen"><i class="fa fa-phone"></i> 03328 / 47 99 09-0</a>
                        <a href="mailto:info@hoerickemeinewerkstatt.de" data-toggle="tooltip" data-placement="bottom" title="Jetzt Schreiben"><i class="fa fa-envelope"></i> info@hoerickemeinewerkstatt.de</a>
                    </div>
                </div>
            </nav>
        </div><!-- end container -->
    </header><!-- end header -->

    <div class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo">
                        <a href="{{ path('default') }}"><img src="{{ asset('assets/img/logo.png') }}" class="img-fluid" alt="Höricke Meine Werkstatt Logo"></a>
                    </div><!-- end logo -->
                </div>
            </div><!-- end row -->
        </div><!-- end header-logo -->
    </div><!-- end header -->
    {% block body %}{% endblock %}
    <div class="page-title">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-3 text-center">
                    <img src="{{ asset('assets/img/partner/DEVK-Logo.png') }}" class="img-thumbnail" alt="DEVK Logo" style="max-height:90px;margin-bottom:10px;">
                </div>
                <div class="col-12 col-md-3 text-center">
                    <img src="{{ asset('assets/img/partner/huk.jpg') }}" class="img-thumbnail" alt="HUK Logo" style="max-height:90px;margin-bottom:10px;">
                </div>
                <div class="col-12 col-md-3 text-center">
                    <img src="{{ asset('assets/img/partner/profiservice.png') }}" class="img-thumbnail" alt="ProfiService Logo" style="max-height:90px;margin-bottom:10px;">
                </div>
                <div class="col-12 col-md-3 text-center">
                    <img src="{{ asset('assets/img/partner/tuev-rheinland.png') }}" class="img-thumbnail" alt="TÜV Logo" style="max-height:90px;margin-bottom:10px;">
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3><span><i class="fa fa-home"></i> Kontakt</span></h3>
                        </div>
                        <div class="category-widget">
                            Höricke meine Werkstatt GmbH
                            <br/>
                            Oderstraße 20
                            <br/>
                            14513 Teltow
                            <br/>
                            <br/>
                            <a href="tel:+4933284799090"><i class="fa fa-phone"></i> 03328 / 47 99 09-0</a><br/>
                            <a href="#"><i class="fa fa-fax"></i> 03328 / 47 99 09-99</a><br/>
                            <a href="mailto:info@hoerickemeinewerkstatt.de"><i class="fa fa-envelope"></i> info@hoerickemeinewerkstatt.de</a>


                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3><span><i class="fa fa-clock-o"></i> Öffnungszeiten</span></h3>
                        </div>

                        <div class="category-widget">
                            <div class="row d-flex">
                                <div class="col-5">
                                    Montag
                                </div>
                                <div class="col-7">
                                    07:00 Uhr - 20:00 Uhr
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-5">
                                    Dienstag
                                </div>
                                <div class="col-7">
                                    07:00 Uhr - 20:00 Uhr
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-5">
                                    Mittwoche
                                </div>
                                <div class="col-7">
                                    07:00 Uhr - 20:00 Uhr
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-5">
                                    Donnerstag
                                </div>
                                <div class="col-7">
                                    07:00 Uhr - 20:00 Uhr
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-5">
                                    Freitag
                                </div>
                                <div class="col-7">
                                    07:00 Uhr - 20:00 Uhr
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-5">
                                    Samstag
                                </div>
                                <div class="col-7">
                                    09:00 Uhr - 13:00 Uhr
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-5">
                                    Sonntag
                                </div>
                                <div class="col-7">
                                    geschlossen
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3><span><i class="fa fa-link"></i> Schnelllinks</span></h3>
                        </div>
                        <div class="category-widget">
                            <ul>
                                <!--<li class="not-temp-hidden"><a href="{{ path('reifen') }}">Online Räderwechsel</a></li>-->
                                <li><a href="https://wa.me/004933284799090" target="_blank">Whatsapp</a></li>
                                <li><a href="{{ path('kontakt') }}">Kontakt</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy_right_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        &copy; {{ "now"|date('Y') }} <span class="d-none d-lg-inline d-xl-inline">Höricke meine Werkstatt GmbH</span><span class="d-lg-none d-xl-none">Höricke</span> | <a href="{{ path('impressum') }}">Impressum</a> | <a href="{{ asset('assets/pdf/Hoericke_Datenschutz.pdf') }}" target="_blank">Datenschutz</a> | <a href="{{ asset('assets/pdf/AGB.pdf') }}">AGB</a> | <span class="d-none d-lg-inline d-xl-inline">Made with <i class="fa fa-heart"></i> by <a href="https://www.mitscom.de" target="_blank">MITSCom</a> | <a href="{{ path('backendDashboard') }}">Admin</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- end footer -->
</div>
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('node_modules/popper.js/dist/umd/popper.min.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('node_modules/jquery-sticky/jquery.sticky.js') }}"></script>
<script src="{{ asset('node_modules/simplelightbox/dist/simple-lightbox.min.js') }}"></script>
<script src="{{ asset('node_modules/jquery-roadmap/dist/jquery.roadmap.min.js') }}"></script>
<script src="{{ asset('node_modules/html5media/dist/api/1.1.4/html5media.min.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAkADq7R0xf6ami9YirAM1N-yl7hdnYBhM "></script>
<script src="{{ asset('assets/js/map.min.js') }}"></script>
{% block javascripts %}{% endblock %}
<script src="{{ asset('assets/js/app.js') }}"></script>
</body>
</html>
